.code1 h3 {
  font-size: 2.5rem;
  position: relative;
  top: -30px;
  font-weight: bold;
}

.code2 h3 {
  font-size: 2.5rem;
  position: relative;
  top: -110px;
  font-weight: bold;
}
.code3 h3 {
  font-size: 2.5rem;
  position: relative;
  top: -170px;
  font-weight: bold;
}

.me img {
  position: relative;
  max-width: 100%;
  height: auto;
  margin: auto;
}

.box:hover {
  -moz-box-shadow: 0 0 10px #ccc;
  -webkit-box-shadow: 0 0 10px #ccc;
  box-shadow: 0 0 10px #ccc;
}

.quest img {
  position: relative;
  width: 225px;
  max-width: 100%;
  height: auto;
  margin: auto;
}

.record img {
  position: relative;
  width: 350px;
  max-width: 100%;
  height: auto;
  margin: auto;
}

.kendrick img {
  position: relative;
  width: 300px;
  max-width: 100%;
  height: auto;
  margin: auto;
}

.kendrick2 img {
  position: relative;
  width: 300px;
  top: 80px;
  max-width: 100%;
  height: auto;
  margin: auto;
}

.kendrick3 img {
  position: relative;
  width: 200px;
  max-width: 100%;
  height: auto;
  margin: auto;
}

.kendrick4 img {
  position: relative;
  width: 350px;
  max-width: 100%;
  top: 40px;
  height: auto;
  margin: auto;
}

.project1 img {
  position: relative;
  width: 400px;
  max-width: 100%;
  height: auto;
  margin: auto;
}

.record img {
  position: relative;
  width: 300px;
  max-width: 100%;
  height: auto;
  margin: auto;
}

.altran img {
  position: relative;
  width: 8000px;
  max-width: 100%;
  height: auto;
  margin: auto;
}

.project2 img {
  position: relative;
  width: 2000px;
  max-width: 100%;
  top: 50px;
  height: auto;
  margin: auto;
}

.chess img {
  position: relative;
  width: 1000px;
  max-width: 100%;
  top: 20px;
  height: auto;
  margin: auto;
}

.knight img {
  position: relative;
  width: 250px;
  max-width: 100%;
  height: auto;
  margin: auto;
}
